@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Urbanist:wght@400;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap';
.jumbo.svelte-qmhx2n {
	padding: 5em;
	margin: 10px;
	text-align: left;
}
main.svelte-qmhx2n {
	max-width: 840px;
	letter-spacing: 0.032em;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	font-family: 'Urbanist', sans-serif;
}
p.svelte-qmhx2n {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
h1.svelte-qmhx2n {
	font-size: 40px;
}
body {
	background-color: #0d0221;
	transition: background-color 0.38s;
}
body h1.svelte-qmhx2n {
	transition: color 1.3s;
	color: #a9b0bb;
}
body p.svelte-qmhx2n {
	transition: color 1.3s;
	color: #a9b0bb;
}
body.dark-mode {
	background: #8a919c;
	color: #d6d6e7;
}
body.dark-mode h1.svelte-qmhx2n {
	transition: color 1.2s;
	color: #071d1d;
}
body.dark-mode p.svelte-qmhx2n {
	transition: color 1.2s;
	color: #071d1d;
}
button.svelte-qmhx2n {
	cursor: pointer;
	outline: 0;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #0d6efd;
	background: #16212d;
}
button.svelte-qmhx2n:hover {
	transition: all 0.2s ease;
	box-shadow: #0000002d 3px 16px 48px 3px;
	box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
	transform: translate(-3px);
}
@media (min-width: 375px) {
	main.svelte-qmhx2n {
		max-width: none;
	}
}
@media (max-width: 475px) {
	.jumbo.svelte-qmhx2n {
		padding: 2em;
	}
	h1.svelte-qmhx2n {
		font-size: 30px;
	}
	p.svelte-qmhx2n {
		font-size: 16.7px;
	}
}
@media (max-width: 275px) {
	.jumbo.svelte-qmhx2n {
		padding: 1em;
	}
}
@media (min-width: 900px) {
	main.svelte-qmhx2n {
		max-width: 950px;
	}
}
